# build
dist/
.astro/

# deps
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.production
.env.development

# editor
.DS_Store
.vscode/*.log

.playwright-mcp/
